{% set image_base_class = image_base_class|default("image") %}

<div {{ bem(image_base_class) }}>
  {% if anchor_link %}
    {% include "@atoms/01-links/anchor-link/anchor-link.twig" with {
      "anchor_link": anchor_link
    } %}
  {% endif %}
  <div {{ bem('image', '', image_base_class) }}>
    {% include "@atoms/04-images/responsive-image/responsive-image.twig" with {
      "output_image_tag": output_image_tag,
      "img_element": img_element,
      "sources": sources,
      "alt": alt
    } %}
  </div>
</div>