.captioned-image-block {
  & > picture {
    text-align: left;
  }

  & > figcaption {
    color: white;
    background-color: black;
    text-align: right;
  }
}

.captioned-image-block--right {
  & > picture {
    text-align: right;
  }

  & > figcaption {
    text-align: left;
  }
}
