{% set base_class = base_class|default("captioned-image-block") %}

<figure {{ bem(base_class, [align == 'Left' ? 'left' : 'right']) }}{% if anchor_link %} id="{{ anchor_link }}"{% endif %}>
  {% include "@atoms/04-images/responsive-image/responsive-image.twig" with {
    "attributes": bem('picture', '', base_class),
    "output_image_tag": output_image_tag,
    "img_element": img_element,
    "sources": sources,
    "alt": alt
  } %}
  <figcaption {{ bem('figcaption', '', base_class) }}>
    {% if icon %}
      {% include "@atoms/04-images/00-image/image.twig" with {
        "image_base_class": 'figcaption-img',
        "image_blockname": base_class,
        "img_src": icon.src,
        "img_alt": icon.alt
      } %}
    {% endif %}
    <p {{ bem('figcaption-p', '', base_class) }}>
      {{ caption|raw }}
    </p>
  </figcaption>
</figure>
