.element-hidden {
  display: none;
}

html.uw-html {
  background-color: black;
}

body {
  font-family: georgia, "droid serif", "Times New Roman", Times, serif;
  font-size: 1rem;
  color: #000;
  background-color: white;
}

.layout-container {
  @supports not (display: grid) {
    clear: both;
    float: left;
    width: 100%;
  }

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: minmax(60px, auto) minmax(0, auto) minmax(451.5px, auto) minmax(100px, auto) minmax(100px, auto);
}

.layout-container header {
  @supports not (display: grid) {
    clear: both;
    float: left;
    width: 100%;
  }

  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.layout-container main {
  @supports not (display: grid) {
    clear: both;
    float: left;
    margin-left: auto;
    margin-right: auto;
  }

  @supports (display: grid) {
    max-width: 63.125rem;
  }

  grid-column: 1 / 2;
  grid-row: 3 / 4;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
}

body.single-page .layout-container main {
  max-width: 100%;
}

.layout-container #highlighted {
  @supports not (display: grid) {
    clear: both;
    float: left;
    margin-left: auto;
    margin-right: auto;
  }

  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.layout-container .block-site-footer-block {
  @supports not (display: grid) {
    clear: both;
    float: left;
    width: 100%;
  }

  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.layout-container footer {
  @supports not (display: grid) {
    clear: both;
    float: left;
    width: 100%;
  }

  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.ifdsu {
  font-family: fdsu-rwd, sans-serif;
  speak: none;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.off-screen {
  display: block;
  text-indent: -9999px;
  height: 0;
  overflow: hidden;
}
