// A
.main-menu__link {
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "BureauGrot Book", impact, "avenir next condensed heavy", "Droid Sans", sans-serif;
  font-size: 0.8rem;
  color: $uw-black;
}
