.main-menu label {
  display: block;
  width: 10%;
  position: absolute;
  right: 5px;
  top: 0;
  padding: 0 0.5rem 0 0;

  &:hover {
    background-color: $uw-main-menu-hover;
  }

  span.sub-menu-arrow {
    font-family: fdsu-rwd, sans-serif;
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;

    i {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;

      &.up-arrow {
        display: none;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }

      &.down-arrow {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }
}

.main-menu {
  .main-menu--checkbox {
    position: absolute;
    top: 0;
    right: 5px;
    width: 15%;
    height: 40px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 20;
    -webkit-touch-callout: none;
    padding-right: 0.9rem;

    &:hover ~ label {
      background-color: $uw-main-menu-hover;
      border-right: solid 1px $uw-black;
      border-bottom: solid 1px $uw-black;
      border-top: solid 1px $uw-black;
      border-left: solid 1px $uw-black;
      margin-top: -1px;
      margin-right: -1px;
      padding-left: 0.4rem;
    }
  }

  .main-menu {
    &--checkbox:checked ~ a {
      background-color: $uw-main-menu-hover;
    }

    &--checkbox:checked ~ ul {
      display: block;
    }

    &--checkbox:checked ~ label {
      .sub-menu-arrow {
        .up-arrow {
          display: inline-block;
        }

        .down-arrow {
          display: none;
        }
      }
    }
  }
}
