// LI
.main-menu__item {
  padding: 0;
  margin: 0;
  list-style-image: none;
  list-style-type: none;
  position: relative;

  a {
    border-right: solid 5px #eee;
    border-bottom: solid 1px #eee;
  }

  ul a {
    padding-left: 1rem;
  }

  ul ul a {
    padding-left: 1.5rem;
  }

  a:hover {
    background-color: #eee;
    border-color: #000;
    border-bottom: 1px solid $uw-black;
    border-right: 5px solid $uw-black;
  }

  &--sub {
    display: block;
    border-right: none;
  }
}
