// Menu Breakpoint

// Nav
.main-nav {
  background-color: $uw-white;
}

// UL
.main-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;

  &--active-trail {
    display: block;
  }
}

ul .main-menu {
  &--not-active-trail {
    display: none;
  }
}
