.uw-local-site-footer {
  width: 100%;
  background-color: $uw-local-site-footer-background-color;
  color: $uw-white;
  padding-top: 1rem;

  &__wrapper {
    display: grid;
    max-width: 63.125rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;

    @include medium {
      grid-template-columns: 70% 30%;
      grid-template-rows: auto auto auto auto;
    }
  }

  .tabs__nav {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .content-moderation-control {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding: 0;
    margin-top: -0.5rem;

    ul {
      margin-top: 0;
    }
  }

  &__logo {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;

    @include medium {
      text-align: left;
    }

    @include xl {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__social-media {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    padding-right: 1rem;

    @include medium {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }

    @include xl {
      padding-right: 0;
    }
  }

  &__content {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    padding-left: 1rem;
    padding-right: 1rem;

    @include medium {
      grid-column: 1 / 3;
      grid-row: 4 / 5;
    }

    @include xl {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
