{% set lsf_base_class = lsf_base_class|default("uw-local-site-footer") %}

<div {{ bem(lsf_base_class) }}>
  <div {{ bem('wrapper', '', lsf_base_class) }}>
    {% if primary %}
      {% include "@molecules/menus/tabs/tabs.twig" with {
        "primary": primary
      } %}
    {% endif %}
    <div {{ bem('logo', '', lsf_base_class) }}>
      <a href="{{ logo_link }}">
        <img src="{{ logo_url }}" alt="{{ logo_alt_text }}" />
      </a>
    </div>
    <div {{ bem('social-media', '', lsf_base_class) }}>
      {% include "@molecules/menus/social-media-menu/social-media-menu.twig" with {
        "social_media": social_media,
        "social_media_placement": social_media_placement
      } %}
    </div>
    <div {{ bem('content', '', lsf_base_class) }}>
      {{ body | raw }}
    </div>
  </div>
</div>