{% set header_image_base_class = header_image_base_class|default("uw-sp-copy") %}

<div {{ bem(header_image_base_class) }}>
  <div {{ bem('wrapper', '', header_image_base_class) }}>
    {{ content|raw }}
  </div>
</div>