.options-block {
  width: 100%;

  &__title {
    text-align: center;
  }

  .option {
    width: 100%;
    text-align: center;
    position: relative;

    &__image {
      background-size: 100%;
      height: 320px;
    }

    &__link {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
    }

    &__link--title {
      line-height: 1.25rem;
      font-size: 2.02729rem;
      font-family: "BureauGrotCond Book", impact, "avenir next condensed heavy", "Droid Sans", sans-serif;
    }

    &__link--description {
      line-height: 1.5rem;
      font-weight: 500;
      font-size: 1.125rem;
      font-family: georgia, "droid serif", "Times New Roman", Times, serif;
    }
  }
}
