{% set base_class = base_class|default('options-block') %}
<div {{ bem(base_class) }}>
  <div {{ bem('wrapper', '', base_class) }}>
    {% if display_title == 'On' %}
      <div {{ bem('title', '', base_class) }}>
        {% include '@atoms/10-title/title.twig' with {
          'title_level': '2',
          'title_classes': 'uw_h2',
          'title_content': title
        }%}
      </div>
    {% endif %}
    <div {{ bem('options', '', base_class) }}>
     {% for option in options %}
       {% include '@molecules/option/option.twig' with {
         'link_description': option.link_description,
         'link_colouring': option.link_colouring,
         'link_url': option.link_url,
         'link_title': option.link_title,
         'img_element': option.img_element,
         'sources': option.sources,
         'alt': option.alt,
         'option_item_id': option.option_item_id
       }%}
     {% endfor %}
    </div>
  </div>
</div>
