$white: white;
$near-white: #f2f2f2;
$gray-lightest: #e5e5e5;
$gray-lighter: #ccc;
$gray-light: #999;
$gray: #666;
$gray-dark: #4c4c4c;
$gray-darker: #333;
$black: black;
$uw-black: #000;
$uw-gold: #fdd54f;
$uw-white: #fff;
$uw-grey: #787878;
$uw-main-menu-hover: #dfdfdf;
$uw-main-menu-border: #eee;
$uw-main-menu-active: #eee;
$uw-main-menu-active-border: #4e4e4e;
$uw-local-site-footer-background-color: #757575;
