// Theses are all the digital colors.  Some have a 5th,
// however the color is not accessible with the other colors.
// The primary color is the 3rd.
// 2nd is lighter than 3rd and 1st is lighter than 1st.
// 4th is darker than 3rd.

// University Colors
$uw_colors_uw_blacks_hex: (lvl1: #dfdfdf, lvl2: #a2a2a2, lvl3: #787878, lvl4: #000, primary: #000);
$uw_colors_uw_golds_hex: (lvl1: #fffaaa, lvl2: #ffea30, lvl3: #fdd54f, lvl4: #e4b429, primary: #fdd54f);
$uw_colors_uw_whites_hex: (lvl1: #fff, primary: #fff);
// Faculties Colors
$uw_colors_fac_ahs_hex: (lvl1: #97dfef, lvl2: #00bed0, lvl3: #0098a5, lvl4: #005963, primary: #005963);
$uw_colors_fac_art_hex: (lvl1: #ffd5a5, lvl2: #fbaf00, lvl3: #e78100, lvl4: #d93f00, primary: #fbaf00);
$uw_colors_fac_eng_hex: (lvl1: #d0b4ef, lvl2: #be33da, lvl3: #8100b4, lvl4: #57058b, primary: #8100b4);
$uw_colors_fac_env_hex: (lvl1: #daf582, lvl2: #bed500, lvl3: #b4be00, lvl4: #607000, primary: #b4be00);
$uw_colors_fac_mat_hex: (lvl1: #ffbeef, lvl2: #ff63aa, lvl3: #df2498, lvl4: #c60078, primary: #df2498);
$uw_colors_fac_sci_hex: (lvl1: #b4d5ff, lvl2: #63a0ff, lvl3: #0073ce, lvl4: #0033be, primary: #0073ce);
// Affiliate
$uw_colors_aff_ren_hex: (green: #00693c, red: #de3831, gold: #d2c295);
$uw_colors_aff_stj_hex: (green: #01573e, gold: #c88a11);
$uw_colors_aff_stp_hex: (green: #879637, brown: #584528);
$uw_colors_aff_cgc_hex: (red: #c4262e);
// School and  Satellite Campus Colors
$uw_colors_school_hex: (lvl1: #ffa5aa, lvl2: #e41740, lvl3: #b71233, lvl4: #80001f, primary: #b71233);

$colors: (
  uw: (
    black: $uw_colors_uw_blacks_hex,
    golds: $uw_colors_uw_golds_hex,
    whites: $uw_colors_uw_whites_hex
  ),
  fac: (
    ahs: $uw_colors_fac_ahs_hex,
    art: $uw_colors_fac_art_hex,
    eng: $uw_colors_fac_eng_hex,
    env: $uw_colors_fac_env_hex,
    mat: $uw_colors_fac_mat_hex,
    sci: $uw_colors_fac_sci_hex
  ),
  aff: (
    ren: $uw_colors_aff_ren_hex,
    stj: $uw_colors_aff_stj_hex,
    stp: $uw_colors_aff_stp_hex,
    cgc: $uw_colors_aff_cgc_hex
  ),
  sch: (
    default: $uw_colors_school_hex
  )
);

@each $gkey, $group in $colors {
  @each $sgkey, $sub_group in $group {
    @each $key, $value in $sub_group {
      header.#{$gkey}-#{$sgkey} .uw-colors--#{$key}--foreground,
      body.#{$gkey}-#{$sgkey} .uw-colors--#{$key}--foreground {
        color: #{$value};
      }

      header.#{$gkey}-#{$sgkey} .uw-colors--#{$key}--background,
      body.#{$gkey}-#{$sgkey} .uw-colors--#{$key}--background {
        background-color: #{$value};
      }
    }
  }
}
