{% for group in items.groups %}
  <h1> {{ group.name }}</h1>
  {% for sub_group in group.sub_groups %}
    {%  if (sub_group.primary_color)  %}
      <h2> {{ sub_group.name }} - {{ sub_group.primary_color }}</h2>
    {%  else %}
      <h2> {{ sub_group.name }}</h2>
    {% endif %}
    <ul class="sg-colors">
    {% for color in sub_group.colors %}
      <li>
        <div class="sg-swatch uw-colors--{{ group.abbv }}-{{ sub_group.abbv }}-{{ color.abbv }}--background" style="background: {{ color.hex }}"></div>
        <code>{{ color.name }}</code>
        <div class="sg-info">
          <span>{{ color.hex }}</span> <br/>
          <code>body.{{ group.abbv }}-{{ sub_group.abbv }}<br/> .uw-colors-{{ color.abbv }}--(background|foreground)</code>
        </div>
      </li>
    {%  endfor %}
    </ul>
  {%  endfor %}
{%  endfor %}
