.uw-sp-stories {
  width: 100%;

  &__wrapper {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    clear: both;

    @include large {
      max-width: 63.125rem;
    }
  }

  &__title {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  &__content {
    width: 100%;
    text-align: left;
  }
}
