{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set classes = [paragraph.bundle|clean_class] %}
{% set sp_base_class = sp_base_class|default("uw-sp-stories") %}

<div {{ bem(sp_base_class) }}>
  {% if anchor_link %}
    {% include "@atoms/01-links/anchor-link/anchor-link.twig" with {
      "anchor_link": anchor_link
    } %}
  {% endif %}
  <div {{ bem('wrapper', '', sp_base_class) }}>
    {% if display_title == "On" %}
      <div {{ bem('title', '', sp_base_class) }}>
        {% include "@atoms/10-title/title.twig" with {
          "title_level": "2",
          "title_classes": "uw_h2",
          "title_content": title
        } %}
      </div>
    {% endif %}
    {% for story in stories %}
      <div {{ bem('content', '', sp_base_class) }}>
        <div {{ bem('content-title', '', sp_base_class) }}>
          {% include "@atoms/10-title/title.twig" with {
            "title_level": "3",
            "title_classes": "uw_h3",
            "title_content": story.title
          } %}
        </div>
        <div {{ bem('content-text', '', sp_base_class) }}>
          {{ story.content|raw }}
        </div>
        <hr>
      </div>
    {% endfor %}
  </div>
</div>
