.uw-logo {
  height: 2.688rem;
  width: 100%;
  display: block;
  text-indent: -999rem;
  background: url('../images/logos/uwaterloo-logo.svg') 0 50% no-repeat;
  background-size: contain;
  color: black;

  &__wrapper {
    background-color: $uw-black;
  }

  a:link {
    text-indent: -999rem;
  }
}
