{% set logo_base_class = logo_base_class|default("uw-logo") %}

<div {{ bem(logo_base_class) }}>
  <div {{ bem('wrapper', '', logo_base_class) }}>
    {% include "@atoms/01-links/link/link.twig" with {
      "link_base_class": "uw-logo",
      "href": "https://uwaterloo.ca",
      "accesskey": "1",
      "link_content": "University of Waterloo"
    } %}
  </div>
</div>