{% set base_class = base_class|default('quicklinks-block')%}

{% if anchor_link %}
  {% include "@atoms/01-links/anchor-link/anchor-link.twig" with {
    "anchor_link": anchor_link
  } %}
{% endif %}

<div {{ bem(base_class) }}>
  <div {{ bem('wrapper','',base_class) }}>
    {% if display_title == "On" %}
      <div {{ bem('title', '', base_class) }}>
        {% include '@atoms/10-title/title.twig' with {
          'title_level' : '2',
          'title_classes' : 'uw_h2',
          'title_content' : title
        }%}
      </div>
    {% endif %}
    <div {{ bem('quicklinks','',base_class) }}>
      {% for quicklink in quicklinks %}
        {% include '@molecules/quicklink/quicklink.twig' with {
          'sources': quicklink.sources,
          'img_element': quicklink.img_element,
          'link_section_title': quicklink.link_section_title,
          'links': quicklink.links
        }%}
      {% endfor %}
    </div>
  </div>
</div>
