/* Position for the entire responsive nav block */
.responsive-nav {
  position: relative;
  top: 0.5rem;
  right: 0;

  input {
    cursor: pointer;
    opacity: 0;
    z-index: 10000;
    position: absolute;
  }

  label {
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #222;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    span.responsive-sub-menu-arrow {
      i {
        border: solid $uw-white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 4px;
      }

      i.left-arrow {
        visibility: hidden;
        transform: rotate(135deg);
      }

      i.right-arrow {
        transform: rotate(-45deg);
      }
    }
  }

  label:hover {
    background-color: $uw-black;
  }

  /* Don't place border on last child of the tabs */
  &:last-child {
    border-right: none;
  }

  input:checked ~ label {
    background-color: #252525;
  }

  /* Position and display for all input buttons */
  .responsive-nav__content {
    input {
      display: none;
      cursor: pointer;
      opacity: 0; /* hide this */
      z-index: 10000;
    }

    /* Remove all other menus except the menu titles */
    ul {
      display: none;
      width: 100%;
      list-style-type: none;
      padding: 0;
    }

    /* Display settings for each list item in the tabs */
    li {
      width: 100%;
      display: block;
    }

    li a {
      display: block;
      width: 100%;
      border-bottom: 1px solid #222;
      padding: 0.5rem 0;
      float: left;
      color: $uw-white;
      text-decoration: none;
    }

    input:checked ~ ul {
      display: block;
    }

    ul.sub-menu {
      position: absolute;
      top: 40px;
      width: 100%;
      z-index: 1000000;
      left: -50rem;
      min-height: 500px;
      height: 100%;
      background-color: black;
    }

    input:checked ~ ul.sub-menu {
      transform: translate(50rem, 0);
    }

    input:checked ~ label {
      i.right-arrow {
        visibility: hidden;
      }

      i.left-arrow {
        visibility: visible;
        margin-right: 6px;
      }
    }

    li.current,
    .with-sub-menu input:checked:last-child li {
      position: absolute;

      > label > span::after {
        content: "Back";
      }
    }

    li.with-sub-menu {
      a.no-sub-menu {
        width: 100%;
        float: left;
      }

      a.has-sub-menu {
        width: 75%;
        float: left;
      }
    }
  }

  input:checked ~ .responsive-nav__content {
    ul.menu {
      display: block;
      padding: 0;
      text-indent: 10px;
      position: fixed;
      width: 100%;
      left: 0;
    }
  }

  .with-sub-menu {
    input:checked ~ label {
      position: absolute;
      top: 0;
      width: 24%;
    }

    input:checked ~ a.has-sub-menu {
      position: absolute;
      top: 0;
      background-color: #252525;
      width: 75%;
    }
  }
}

/* Background of top combined selected menu */
.responsive-nav__tab {
  font-size: 1.5rem;
  width: 100%;
  flex: auto;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #222;
  border-right: 1px solid #222;
  border-left: none;
  position: relative;

  .with-sub-menu {
    input:checked ~ label {
      display: inline-block;
      background-color: black;
      position: absolute;
      top: 0;
      right: 0;
      width: 25%;
    }

    input:checked ~ a.has-sub-menu {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #252525;
      width: 75%;
    }
  }

  input:checked ~ .responsive-nav__content {
    ul.menu {
      margin: 0;
      display: block;
      padding: 0;
      text-indent: 10px;
      position: fixed;
      width: 100%;
      left: 0;
    }
  }
}

.responsive-nav__menu {
  margin-top: 56px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  width: 100%;
}

/* Hide full responsive menu */
#responsive-nav__check ~ .responsive-nav__menu {
  display: none;
}

/**
 * Display settings for the responsive menu
 * Fixed display to take up entire screen.
 */
#toolbar-administration ~ .layout-container {
  .responsive-nav__menu {
    margin-top: 90px;
  }
}

/* Display the responsive menu if the hamburger is clicked */
#responsive-nav__check:checked ~ .responsive-nav__menu {
  display: block;
  z-index: 999;
}

/* Position and setup the hamburger menu */
#responsive-nav__check {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 10000; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* Display for the hamburger menu */
.responsive-nav__hamburger {
  position: relative;
  top: 0;
  background-color: $uw-black;
  height: 100%;
  text-align: center;

  span {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 25px;
    height: 1px;
    margin-bottom: 5px;
    position: relative;
    background: $uw-white;
    border-radius: 3px;
    transform-origin: 4 0;
    transition:
      transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      opacity 0.55s ease;
    z-index: 9999;
  }

  span:first-child {
    transform-origin: 0% 0%;
  }

  span:nth-child(2) {
    transform-origin: 0% 100%;
  }

  &::after {
    text-transform: uppercase;
    content: "Menu";
    color: $uw-white;
    line-height: 1;
  }
}

/* Position for the X checkbox */
#responsive-nav__check:checked {
  position: absolute;
  top: 0;
  z-index: 10001;
}

/* Display for X to close hamburger */
#responsive-nav__check:checked ~ .responsive-nav__hamburger {
  span:first-child {
    transform: rotate(45deg) translate(3px, -2px);
    background-color: $uw-gold;
  }

  span:nth-child(3) {
    opacity: 0;
  }

  span:nth-child(2) {
    transform: rotate(-45deg) translate(-8px, 10px);
    background-color: $uw-gold;
  }
}

/**
 * Display settings for the wrapper.
 * Made relative so that child elements can position.
 */
.responsive-nav__wrapper {
  display: block;
}

/**
 * Display settings for the tabs.
 * Flexing here in case of multiple combined menus.
 */
.responsive-nav__tabs {
  display: flex;
}
