{% set rmc_base_class = rmc_base_class|default("responsive-nav") %}

{% import _self as menus %}

<div {{ bem(rmc_base_class) }}>

  <input type="checkbox" id="responsive-nav__check" {{ bem('check', '', rmc_base_class) }} />

  <div {{ bem('hamburger', '', rmc_base_class) }}>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div {{ bem('menu', '', rmc_base_class) }}>
    <div {{ bem('wrapper', '', rmc_base_class) }}>

      <div {{ bem('tabs', '', rmc_base_class) }}>
        {% for set_menu in responsive_menus %}
        {%  set tab_class = 'tab-' ~ loop.index %}
          <div {{ bem('tab', '', rmc_base_class, tab_class) }}>
            {% if loop.index == 1 %}
              <input type="radio" id="tab-{{ set_menu.menu_id }}" class="main-tab" checked="checked" name="tab-group-responsive_menu_combined" />
            {% else %}
              <input type="radio" id="tab-{{ set_menu.menu_id }}" class="main-tab" name="tab-group-responsive_menu_combined" />
            {% endif %}
            <label for="tab-{{ set_menu.menu_id }}">{{ set_menu.menu_title }}</label>
            <div {{ bem('content', '', rmc_base_class) }}>
              {{ menus.menuMacro(set_menu.menu_tree, "menu") }}
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>
{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}

{% macro menuMacro(menu, menu_class) -%}
  <ul class="{{ menu_class }}">
    {% for menu_item in menu %}

      {# Check if this is the active item. #}
      {% set active = (menu_item.active) ? ' is-active' : '' %}

      {# Check if this item is in the active trail. #}
      {% set active = active ~ ((menu_item.active_trail) ? ' is-active-trail' : '') %}

      {% if menu_item.submenu %}
        {% set has_sub = "with-sub-menu" %}
      {% else %}
        {% set has_sub = "no-sub-menu" %}
      {% endif %}

      <li class="menu__item{{ active }} {{ has_sub }}">

        {% if menu_item.submenu %}
          <input id="toggle-{{ menu_item.text | lower | replace({' ': '-'}) }}" class="main-menu--checkbox" type="checkbox" {% if menu_item.active_trail %} checked {% endif %}>
          <a href="{{ menu_item.url }}"  class="menu__link{{ active }} has-sub-menu">{{ menu_item.text }}</a>
          <label for="toggle-{{ menu_item.text | lower | replace({' ': '-'}) }}">
            <span class="responsive-sub-menu-arrow"><i class="right-arrow"></i><i class="left-arrow"></i></span>
          </label>
          {# Since this menu item has a submenu, recall function. #}
          {{ _self.menuMacro(menu_item.submenu, "sub-menu") }}
        {% else %}
          <a href="{{ menu_item.url }}"  class="menu__link{{ active }} no-sub-menu">{{ menu_item.text }}</a>
        {% endif %}

      </li>

    {% endfor %}
  </ul>
{%- endmacro %}
