{% if output_image_tag %}
  {{ img_element }}
{% else %}
  <picture {{ attributes }}>
    {% if sources %}
      {#
      Internet Explorer 9 doesn't recognise source elements that are wrapped in
      picture tags. See http://scottjehl.github.io/picturefill/#ie9
      #}
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      {% for source in sources %}
        <source srcset="{{ source.srcset|raw }}" media="{{ source.media }}" type="{{ source.type }}" />
      {% endfor %}
      <!--[if IE 9]></video><![endif]-->
    {% endif %}
    {# The controlling image, with the fallback image in srcset. #}
    <img class="contextual-region" src="{{ img_element }}" alt="{{ alt }}">
  </picture>
{% endif %}
