.uw_h2 {
  span {
    font-family: georgia, "droid serif", "Times New Roman", Times, serif;
    color: #4e4e4e;
    font-size: 2.2807rem;
  }
}

.uw_h3 {
  font-family: georgia, "droid serif", "Times New Roman", Times, serif;
  color: #4e4e4e;
  font-size: 1.7rem;
}
