footer {
  background-color: $uw-black;
  border: none;
  padding: 0;
  margin-top: 0;
  width: 100%;
}

.uw-footer {
  &__grid {
    @supports not (display: grid) {
      clear: both;
      width: 100%;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    @supports (display: grid) {
      max-width: 63.125rem;
    }

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;

    @include medium {
      grid-template-columns: 60% 40%;
      grid-template-rows: auto auto;
    }

    @include large {
      grid-template-columns: 25% auto 30%;
      grid-template-rows: auto;
    }
  }

  &__footer-1 {
    @supports not (display: grid) {
      float: left;
      width: 25%;
    }

    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    @include medium {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }

    @include large {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }

  &__footer-2 {
    @supports not (display: grid) {
      float: left;
      width: 45%;
    }

    grid-column: 1 / 2;
    grid-row: 2 / 3;

    @include medium {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    @include large {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }

  &__footer-3 {
    @supports not (display: grid) {
      float: left;
      width: 30%;
    }

    grid-column: 1 / 2;
    grid-row: 3 / 4;

    @include medium {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    @include large {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
  }

  &__social-directory {
    text-align: center;

    @include medium {
      text-align: right;
    }

    a {
      color: $uw-white;
      text-decoration: none;
    }

    a:hover {
      color: $uw-gold;
      text-decoration: underline;
    }
  }
}

/* Take Global Menu and divide in three columns */
.global-footer-menu {
  @supports not (display: grid) {
    clear: both;
    width: 100%;
  }

  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  list-style-type: none;
  padding-bottom: 1rem;

  @include medium {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
  }

  @include large {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
  }
}

.global-footer-menu li:nth-child(3n+1) {
  @include medium {
    border-left: none;
  }

  @include large {
    border-left: 1px solid $uw-grey;
  }
}

.global-footer-menu li:nth-child(n) {
  border: 1px solid grey;
  text-align: center;
  padding-left: 0.8rem;

  @include medium {
    text-align: left;
    border: none;
    border-right: 1px solid grey;
  }
}

@supports not (display: grid) {
  .global-footer-menu li:nth-child(1n) {
    float: left;
    width: 25%;
  }

  .global-footer-menu li:nth-child(2n) {
    float: left;
    width: 25%;
  }

  .global-footer-menu li:nth-child(3n) {
    float: left;
    width: 25%;
  }
}

.global-footer-menu li:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.global-footer-menu li:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}

.global-footer-menu li:nth-child(3) {
  @include large {
    grid-column: 3;
    grid-row: 1;
  }
}
