{% set footer_base_class = footer_base_class|default("uw-footer") %}

<footer {{ bem(footer_base_class) }}>
  <div {{ bem('grid', '', footer_base_class) }}>
    <div {{ bem('footer-1', '', footer_base_class) }}>
      {% include "@molecules/contact-info/contact-info.twig" %}
    </div>
    <div {{ bem('footer-2', '', footer_base_class) }}>
      {% include "@molecules/menus/global-menu/global-menu.twig" with {
        "items": items,
        "global_menu": global_menu
      } %}
    </div>
    <div {{ bem('footer-3', '', footer_base_class) }}>
      {% include "@molecules/menus/social-media-menu/social-media-menu.twig" with {
        "social_media": social_media,
        "social_media_placement": social_media_placement
      } %}
      <div {{ bem('social-directory', '', footer_base_class) }}>
        <a href="https://uwaterloo.ca/social-media/">@uwaterloo social directory</a>
      </div>
    </div>
  </div>
</footer>
