.highlighted--wrapper {
  padding: 1rem;
}

main.main {
  background-color: $uw-white;
  padding-bottom: 2rem;
}

.main-content-wrapper {
  @supports not (display: grid) {
    clear: both;
    width: 100%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;

  @include large {
    grid-template-columns: 23% 77%;
    grid-template-rows: auto;
  }

  .uw-main-navigation {
    @supports not (display: grid) {
      float: left;
      width: 23%;
    }

    visibility: hidden;

    @include large {
      visibility: visible;
      padding-left: 0.8rem;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    @include xl {
      padding-left: 0;
    }
  }

  .main-content {
    @supports not (display: grid) {
      float: left;
      width: 77%;
    }

    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-left: 1rem;
    padding-right: 1rem;

    @include large {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }
}

body.single-page .main-content-wrapper {
  display: block;
  width: 100%;

  .uw-main-navigation {
    display: none;
  }

  .main-content {
    padding-left: 0;
    padding-right: 0;
  }
}

.main-content--with-sidebar {
  @supports not (display: grid) {
    clear: both;
    width: 100%;
  }

  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto auto auto;

  .main-content--page-title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .main-content--tabs {
    @supports not (display: grid) {
      float: left;
      width: 77%;
    }

    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .main-content--content {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  aside {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    width: 100%;
  }
}

body.single-page {
  #block-pagetitle {
    display: none;
  }

  .main-content--tabs {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
