<style>
  {% for source in sources|reverse %}
    @media {{ source.media }} {
      #{{ div_id }} {
        background-image: url('{{ source.srcset|replace({' 1x': '', ' 2x': ''})|raw }}');
      }
    }
  {% endfor %}
</style>