.breakpoint {
  width: auto;
  display: block;
  font-size: 0.7em;
  color: #fff;
  position: fixed;
  padding: 0.5rem;
  top: 10em;
  font-weight: bold;
  z-index: 1000;

  &::before {
    content: "no break- Phone up";
  }

  background-color: rgba(green, 0.7);

  @include xs {
    &::before {
      content: "$xs";
    }

    background-color: rgba(orange, 0.7);
  }

  @include small {
    &::before {
      content: "$small";
    }

    background-color: rgba(red, 0.7);
  }

  @include medium {
    &::before {
      content: "$medium";
    }

    background-color: rgba(yellow, 0.7);
  }

  @include large {
    &::before {
      content: "$large";
    }

    background-color: rgba(blue, 0.7);
  }

  @include xl {
    &::before {
      content: "$xl";
    }

    background-color: rgba(blue, 0.7);
  }

  /*
  @include media($ipadP) {
    &::before {
      content: "$screen-ipadP";
    }

    background-color: rgba(purple, 0.7);
  }

  @include media($ipadL) {
    &::before {
      content: "$screen-ipadL";
    }

    background-color: rgba(pink, 0.7);
  }
  */
}
