{% set lvls = 4 %}
<div id="color-bar" class="uw_site--colors">
  <div class="uw-section--innner">
    <div class="uw-site--cbar">
    {% for lvl in range(1,lvls) %}
        <div class="uw-colors--lvl{{ lvl }}--background uw-cbar"></div>
    {% endfor %}
    </div>
  </div>
</div>
