.uw-blockquote {
  max-width: 63rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  blockquote {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 30%;
    border: none;
    padding: 1rem 0;

    p {
      font-family: Georgia, Cambria, "Times New Roman", Times, serif;
      text-align: center;
      line-height: 1.4;
      padding: 1rem;
      color: #757575;
      font-size: 1.7rem;
    }

    p::before,
    p::after {
      font-size: 8rem;
      height: 1rem;
      line-height: 4rem;
      padding-right: 0.4rem;
      color: #757575;
      font-family: 'arial', sans-serif;
      font-weight: 400;
      display: inline-block;
      text-align: left;
    }

    p::before {
      content: "\201C";
      vertical-align: text-top;
    }

    p::after {
      content: "\201D";
      vertical-align: text-bottom;
    }
  }

  cite {
    display: block;
    font-family: "BureauGrot", "Droid Sans", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    margin: 1.7rem 0;
    color: #555;
    font-style: normal;

    &::before {
      content: "-";
      padding-right: 1rem;
    }
  }
}
