{% set ig_base_class = ig_base_class|default("uw-image-gallery") %}

<div {{ bem(ig_base_class) }}>
  {% if image_gallery_placement == "Above" %}
    <div {{ bem('description', '', ig_base_class) }}>
      {{ description|raw }}
    </div>
  {% endif %}
  <div {{ bem('image', '', ig_base_class) }}>
    {% block image_content %}
      {% if scriptsrc %}
        <script src="{{ scriptsrc }}"></script>
      {% endif %}
      {{ image_content }}
    {% endblock %}
  </div>
  {% if image_gallery_placement == "Below" %}
    <div {{ bem('description', '', ig_base_class) }}>
      {{ description|raw }}
    </div>
  {% endif %}
</div>