{% set base_class = base_class|default('events') %}

<div {{ bem(base_class) }}>
  <div {{ bem('wrapper', '', base_class) }}>
    {% if display_title == 'On' %}
      <div {{ bem('title', '', base_class) }}>
        {% include '@atoms/10-title/title.twig' with {
          'title_level': '2',
          'title_classes': 'uw_h2',
          'title_content': title
        }%}
      </div>
    {% endif %}
    <div {{ bem('events', '', base_class) }}>
      {% for event in events %}
        {% include '@molecules/event/event.twig' with {
          'event': event
        }%}
      {% endfor %}
    </div>
  </div>
</div>