.single-event-info {
  width: 100%;
  border: 1px solid #f1f1f1;
  margin-bottom: 10px;
  padding: 1rem;

  a {
    text-decoration: none;
  }

  &__date {
    font-size: 1.42383rem;
    font-family: Typ1451-light, verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
  }

  &__info {
    font-size: 1.125rem;
    font-family: Typ1451-light, verdana, sans-serif;
    line-height: 1.4;
    color: #000;
  }

  &__title {
    color: #4e4e4e;
    line-height: 1;
    font-size: 1.42383rem;
    font-weight: 400;
    font-family: "BureauGrotCond Book", impact, "avenir next condensed heavy", "Droid Sans", sans-serif;
    letter-spacing: 0.045rem;
    margin: 0.5rem 0 0.25rem;
  }

  &__teaser {
    font-family: georgia, "droid serif", "Times New Roman", Times, serif;
    font-size: 1rem;
    line-height: 1.4;
    margin: 2rem 0 0;
  }

  ul {
    &__colouring {
      list-style-type: none;
      flex: 0 1 auto;
      padding: 0 1rem 1rem;
      margin: 0;
      min-height: 4rem;
      line-height: 1;
    }

    li {
      font-size: 0.70233rem;
      text-transform: uppercase;
      margin: 0.125rem;
      padding: 0.45rem;
      display: inline-block;
    }
  }
}
