{% set base_class2 = base_class2|default('single-event-info') %}

<div {{ bem(base_class2) }}>
  <a href="{{ remote_event_link_url }}">
    <div {{ bem('date', '', base_class2) }}>
      {% set count = 0 %}
      {% for event_date in event.event_dates %}
        {% if event_date != '0' %}
          {% include '@atoms/_time.twig' with {
            'datetext': event_date
          } %}
        {% endif %}
      {% endfor %}
    </div>
    <div {{ bem('title', '', base_class2) }}>
      {{ event.event_title }}
    </div>
    <div>
      {{ event.event_type }}
    </div>
    <div {{ bem('info', '', base_class2) }}>
      {% if event.event_grades and event.event_cost %} {{ event.event_grades }} {{ ', ' }} {{ event.event_cost }}
      {% elseif event.event_grades and not(event.event_cost) %} {{ event.event_grades }}
      {% elseif not(event.event_grades) and event.event_cost %} {{ event.event_cost }}
      {% endif %}
    </div>
    <div {{ bem('teaser', '', base_class2) }}>
      {{ event.event_teaser | raw }}
    </div>
    <ul {{ bem('colouring', '', base_class2) }}>
      <li>
        {{ event.event_colouring }}
      </li>
    </ul>
  </a>
</div>