
{% set item_modifiers = [] %}


{% if menu_level > 0 %}
  {% set item_modifiers = item_modifiers|merge(['sub', 'sub-' ~ menu_level]) %}
{% endif %}

{% if item.below %}
  {% set item_modifiers = item_modifiers|merge(['with-sub']) %}
{% endif %}
{% if item.submenu %}
  {% set item_modifiers = item_modifiers|merge(['with-sub']) %}
{% endif %}


{% embed "@atoms/03-lists/_list-item.twig" with {
  "list_item_label": item_label,
  "li_base_class": item_base_class|default(menu_class ~ '__item'),
  "li_modifiers": item_modifiers,
  "li_blockname": item_blockname,
} %}
  {% block list_item_content %}

    {% if item.text %}
      {% if item.submenu %}
        <input id="toggle-{{ item.text | lower | replace({' ': '-'}) }}" class="main-menu--checkbox" type="checkbox" {% if item.active_trail %} checked {% endif %}>
      {% endif %}
      {% include "@atoms/01-links/link/link.twig" with {
      "link_content": item.text,
      "link_url": item.url,
      "link_base_class": item_base_class|default(menu_class ~ '__link'),
      "link_modifiers": item_modifiers,
      } %}
      {% if item.submenu %}
        <label for="toggle-{{ item.text | lower | replace({' ': '-'}) }}">
          <span class="sub-menu-arrow"><i class="up-arrow"></i><i class="down-arrow"></i></span>
        </label>
        {{ menus.menu_links(item.submenu, attributes, menu_level + 1, menu_class, menu_modifiers, menu_blockname, item_base_class, item_modifiers, item_blockname) }}
      {% endif %}
    {% endif %}

  {% endblock %}
{% endembed %}
