  {#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}

{# Drupal Specific #}
{# This is straight from drupal #}
{% if primary %}
  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  <ul class="tabs__nav tabs__nav--local-tasks">{{ primary }}</ul>
{% endif %}
{% if secondary %}
  <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <ul>{{ secondary }}</ul>
{% endif %}
{# PL Specific (javascript version) #}
{% if not primary %}
  <div id="tabs" class="tabs no-js">
    <ul class="tabs__nav">
      {% for key, listItem in listItems.three %}
      {% include "@atoms/09-menu/tab/tab.twig" with {
        tab_link: "#tab-" ~ key,
        tab_text: listItem.month.long
      } %}
      {% endfor %}
    </ul>
    {% for key, listItem in listItems.three %}
    <div class="tabs__tab{% if key == 0 %} is-active{% endif %}">
      <div id="tab-{{ key }}" class="tabs__content">
        <p>{{ listItem.excerpt.medium }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
{% endif %}
