<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <!-- Pattern Lab base styles -->
    <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
    <!-- Component styles -->
    <link rel="stylesheet" href="../../../../dist/style.css?{{ cacheBuster }}" media="all" />

    <script src="../../../../pattern-lab/public/js/jquery.min.js?v=1.9.0"></script>

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

  </head>
  <div class="breakpoint"></div>
  <body class="{{ bodyClass }}">
    <!-- for js not found errors in Pattern Lab -->
  	<div class="visually-hidden">
  		<div id="tabs" class="tabs"></div>
  	</div>
