.uw-header--buttons_hamburger {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  background-color: $uw-black;
  font-family: "BureauGrotCond Book", impact, "avenir next condensed heavy", "Droid Sans", sans-serif;
  text-transform: uppercase;

  .navigation-button {
    height: auto;
  }

  span.navigation_toggle--text {
    letter-spacing: 0.045rem;
    font-size: 0.88889rem;
    color: $uw-white;
    text-decoration: none;
    display: block;
    padding: 2.25rem 0 0;
    height: auto;
    width: auto;
    margin-top: -0.5rem;
  }

  button {
    background-color: inherit;
    border-radius: none;
    border: none;
    cursor: pointer;
    letter-spacing: 0.055rem;
    padding: 0;
    display: inline-block;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: inherit;
    margin: 0 auto;
    color: $uw-white;
    overflow: visible;
  }

  label {
    display: block;
    position: relative;
    text-align: center;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 1.26562rem;
  }

  span.navigation-toggle--text {
    text-decoration: none;
    display: block;
    padding: 2.25rem 0 0;
    letter-spacing: 0.045rem;
    font-size: 0.88889rem;
  }

  span.navigation-button--lines {
    margin-left: -0.75rem;
    position: absolute;
    top: 33.5%;
    left: 50%;
    display: block;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
    height: 0.1rem;
    width: 1.5rem;
    background-color: #fff;
    font-size: 0;
  }

  span.navigation-button--lines::before,
  span.navigation-button--lines::after {
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: '';
    box-sizing: inherit;
  }

  span.navigation-button--lines::before {
    transform: translateY(300%);
  }

  span.navigation-button--lines::after {
    transform: translateY(-300%);
  }
}
