<div id="uw-header-hamburger-button" class="uw-header--buttons_hamburger">
  <label for="responsive-nav-check" class="navigation-button" aria-label="navigation menu" aria-controls="navigation" aria-expanded="false" onclick title="Menu">
    <span class="navigation_toggle--text">Menu</span>
    <button tabindex="-1" class="navigation-button--toggle" aria-label="Navigation menu"> </button>
    <span class="navigation-button--lines"></span>
  </label>
</div>