.uw-footer-address {
  background-color: black;
  color: #fff;

  &__phone {
    a {
      color: #fdd54f;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
