.uw-global-menu {
  display: block;
  text-align: center;
  background-color: $uw-black;
  font-family: "BureauGrotCond Book", impact, "avenir next condensed heavy", "Droid Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.045rem;
  font-size: 0.7rem;

  @include large {
    font-size: 0.8rem;
  }

  @include xl {
    font-size: 1rem;
  }

  li {
    display: inline-block;
    padding: 0 0.5rem;
    margin: 0;
    box-sizing: inherit;
  }

  li a {
    color: $uw-white;
    text-decoration: none;
  }

  li a:hover {
    text-decoration: underline;
  }
}
