{% set global_menu_base_class = global_menu_base_class|default("uw-global-menu") %}

<nav {{ bem(global_menu_base_class, '', '', [global_menu]) }} {% if aria_label %}aria-label="university navigation"{% endif %}>
  {% embed "@atoms/03-lists/00-ul.twig" with {
    ul_base_class: menu_class,
    ul_modifiers: menu_modifiers,
    ul_blockname: menu_blockname
  } %}
    {% block list_content %}
      {% for item in items.menu_tree %}
        {% include "@molecules/menus/_menu-item.twig" %}
      {% endfor %}
    {% endblock %}
  {% endembed %}
</nav>