.uw-header--buttons__search {
  display: block;
  border: none;
  text-transform: uppercase;
  text-align: center;
  background-color: $uw-black;
  padding-top: 0.4rem;
}

a.search-button {
  color: #fff;
  text-decoration: none;
}

a.search-button:hover {
  color: $uw-gold;
}

.fdsu-search-2::before {
  content: "\e1b7";
}

.uw-header--buttons__search a.search-button .ifdsu {
  display: block;
  font-size: 1.3rem;
}
