<div id="uw-header-search-button" class="uw-header--buttons__search">
  <a href="/search_modal/nojs" title="" class="search-button" aria-label="search" aria-expanded="false">
    <span class="ifdsu fdsu-search-2"></span>search</a>
</div>