.uw-sp-text {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  &--wrapper {
    max-width: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @include large {
      max-width: 63.19rem;
    }
  }

  &--content {
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;
  }
}

.uw-sp-title {
  position: relative;

  &__wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    background: rgba(255, 255, 255, 0.8);
  }

  &__content {
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    text-align: center;

    h1 {
      color: $uw-black;
    }
  }
}
