{% if st_base_class is not defined %}
  {% set st_base_class = 'uw_site_text' %}
{% endif %}

<div {{ bem(st_base_class) }}>
  <div {{ bem('wrapper', '', st_base_class) }}>
    <div {{ bem('content', '', st_base_class) }}>
      {% if sp_text %}
        {{ sp_text|raw }}
      {% endif %}
      {% if title %}
        <h1>{{ title }}</h1>
      {% endif %}
    </div>
  </div>
</div>