{% include "@organisms/site/site-header/site-header.twig" with {
  "items": header.items,
  "responsive_menus": header.responsive_menus,
  "attributes": header.attributes
} %}

{%  include "@molecules/single-page/site-text/site-text.twig" with {
  "st_base_class": "uw-sp-title",
  "title": "Single page site with video"
} %}

{% include "@organisms/single-page/header-video/header-video.twig" with {
  "video_url": video_banner.video_url,
  "description": video_banner.description
} %}

{% include "@organisms/single-page/copy-block/copy-block.twig" with {
  "content": copy_block.copy_text
}%}

{% include "@organisms/single-page/marketing-block/marketing-block.twig" with {
  "anchor_link": "anchor_mi",
  "display_title": "On",
  "title": "Marketing Block",
  "sources": marketing_block.sources,
  "marketing_text": marketing_block.marketing_text,
  "output_image_tag": marketing_block.output_image_tag,
  "img_element": marketing_block.img_element,
  "alt": "Alternative Text"
} %}

{% include "@organisms/single-page/stories-block/stories-block.twig" with {
  "anchor_link": "anchor_stories",
  "display_title": "On",
  "title": "Stories Block",
  "stories": stories_block.stories
}%}

{% include "@organisms/local-site-footer/local-site-footer.twig" with {
  "body": lsf.body,
  "logo_link": lsf.logo_link,
  "logo_url": lsf.logo_url,
  "site_name": lsf.site_name,
  "logo_alt_text": lsf.logo_alt_text,
  "social_media": lsf.social_media,
  "social_media_placement": "local-site-footer",
  "primary": lsf.primary
} %}

{% include "@organisms/site/site-footer/site-footer.twig" with {
  "items": footer.items,
  "menu_class": "global-footer-menu",
  "social_media": footer.social_media,
  "social_media_placement": "global-site-footer"
} %}
