{% set header_image_base_class = header_image_base_class|default("uw-sp-header-image") %}

<div {{ bem(header_image_base_class) }}>
  <div {{ bem('wrapper', '', header_image_base_class) }}>
    <div {{ bem('image', '', header_image_base_class) }}>
      {% include "@atoms/04-images/responsive-image/responsive-image.twig" with {
        "output_image_tag": output_image_tag,
        "img_element": img_element,
        "sources": sources,
        "alt": alt
      } %}
    </div>
  </div>
</div>