{% set base_class = base_class|default('quicklink')%}

<div {{ bem(base_class) }}>
  <div {{ bem('wrapper','',base_class) }}>
    <div {{ bem('image','',base_class) }}>
      {% include "@atoms/04-images/responsive-image/responsive-image.twig" with {
        "output_image_tag": output_image_tag,
        "img_element": img_element,
        "sources": sources,
        "alt": alt
      } %}
    </div>
    <div {{ bem('quicklink-section-title','',base_class) }}>
      {{ link_section_title }}
    </div>
    <div {{ bem('quicklink-link','',base_class) }}>
      {% for link in links  %}
        {% include '@atoms/01-links/link/link.twig' with {
          'link_url': link.link_url,
          'link_content': link.link_content
        }%}
      {% endfor %}
    </div>
  </div>
</div>
