.uw-call-to-action {
  width: 100%;
  height: 100%;
  clear: both;

  &__center-wrapper {
    align-items: center;
    -ms-flex-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  aside {
    flex: 1 0 30%;
  }

  a {
    text-decoration: none;
    display: block;
    margin: 1px;
    border: 1px solid #fff;
    vertical-align: middle;
    background-color: black;

    .uw-call-to-action__inner-wrapper {
      display: table-cell;
      margin: 1px;
      border: 1px solid #fff;
      vertical-align: middle;
    }

    .uw-call-to-action__uWaterloo,
    .uw-call-to-action__ahs {
      background-color: black;
    }
  }

  a:hover {
    .uw-call-to-action__uWaterloo {
      background-color: #fdd54f;
    }

    .uw-call-to-action__neutral {
      background-color: $gray-lightest;
    }

    .uw-call-to-action__ahs {
      background-color: nth(nth($uw_colors_fac_ahs_hex, 1), 2);
    }

    .uw-call-to-action__arts {
      background-color: nth(nth($uw_colors_fac_art_hex, 1), 2);
    }

    .uw-call-to-action__engineering {
      background-color: nth(nth($uw_colors_fac_eng_hex, 1), 2);
    }

    .uw-call-to-action__environment {
      background-color: nth(nth($uw_colors_fac_env_hex, 1), 2);
    }

    .uw-call-to-action__math {
      background-color: nth(nth($uw_colors_fac_mat_hex, 1), 2);
    }

    .uw-call-to-action__science {
      background-color: nth(nth($uw_colors_fac_sci_hex, 1), 2);
    }

    .uw-call-to-action__conrad {
      background-color: nth(nth($uw_colors_aff_cgc_hex, 1), 2);
    }

    .uw-call-to-action__renison {
      background-color: nth(nth($uw_colors_aff_ren_hex, 1), 2);
    }

    .uw-call-to-action__schools {
      background-color: nth(nth($uw_colors_school_hex, 1), 2);
    }

    .uw-call-to-action__st-jeromes {
      background-color: nth(nth($uw_colors_aff_stj_hex, 2), 2);
    }

    .uw-call-to-action__st-pauls {
      background-color: nth(nth($uw_colors_aff_stp_hex, 1), 2);
    }
  }

  &__wrapper {
    height: 6.25rem;
    display: table;
    width: 100%;
  }

  &__small {
    text-align: center;
    font-size: 0.79012rem;
    font-family: Typ1451-Medium, verdana, sans-serif;
    padding: 0 0.25rem 0.25rem;
    color: #fff;
    text-transform: uppercase;

    a:hover & {
      color: black;
    }
  }

  &__big {
    text-align: center;
    font-size: 1.42383rem;
    letter-spacing: 0.05rem;
    padding: 0 0.25rem 0.313rem;
    line-height: 1.2;
    font-family: "BureauGrotCond Book", impact, "avenir next condensed heavy", "Droid Sans", sans-serif;

    .uw-call-to-action__uWaterloo & {
      color: $uw-gold;
    }

    .uw-call-to-action__neutral & {
      color: $gray-lightest;
    }

    .uw-call-to-action__ahs & {
      color: nth(nth($uw_colors_fac_ahs_hex, 1), 2);
    }

    .uw-call-to-action__arts & {
      color: nth(nth($uw_colors_fac_art_hex, 1), 2);
    }

    .uw-call-to-action__engineering & {
      color: nth(nth($uw_colors_fac_eng_hex, 1), 2);
    }

    .uw-call-to-action__environment & {
      color: nth(nth($uw_colors_fac_env_hex, 1), 2);
    }

    .uw-call-to-action__math & {
      color: nth(nth($uw_colors_fac_mat_hex, 1), 2);
    }

    .uw-call-to-action__science & {
      color: nth(nth($uw_colors_fac_sci_hex, 1), 2);
    }

    .uw-call-to-action__conrad & {
      color: nth(nth($uw_colors_aff_cgc_hex, 1), 2);
    }

    .uw-call-to-action__renison & {
      color: nth(nth($uw_colors_aff_ren_hex, 1), 2);
    }

    .uw-call-to-action__schools & {
      color: nth(nth($uw_colors_school_hex, 1), 2);
    }

    .uw-call-to-action__st-jeromes & {
      color: nth(nth($uw_colors_aff_stj_hex, 2), 2);
    }

    .uw-call-to-action__st-pauls & {
      color: nth(nth($uw_colors_aff_stp_hex, 1), 2);
    }

    a:hover & {
      color: black;
    }
  }
}
