{% set base_class = base_class|default("uw-call-to-action") %}

<div {{ bem(base_class) }}>
  <div {{ (bem('center-wrapper', '', base_class)) }}>
    {% for cta in ctas %}
      <aside>
        <a href="{{ cta.link.uri }}">
          <div {{ bem('wrapper', '', base_class) }}>
            <div class="{{ base_class }}__{{ cta.theme }} {{ base_class }}__inner-wrapper">
              {% for t in cta.text_details %}
                <div {{ bem(t.type, '', base_class) }}>
                  {{ t.text }}
                </div>
              {% endfor %}
            </div>
          </div>
        </a>
      </aside>
    {% endfor %}
  </div>
</div>