// Classes attached to the body or header that color bars colors.
$different_color_bars: (
  default: $uw_colors_uw_golds_hex,
  fac-ahs: $uw_colors_fac_ahs_hex,
  fac-art: $uw_colors_fac_art_hex,
  fac-eng: $uw_colors_fac_eng_hex,
  fac-env: $uw_colors_fac_env_hex,
  fac-mat: $uw_colors_fac_mat_hex,
  fac-sci: $uw_colors_fac_sci_hex,
  sch: $uw_colors_school_hex,
);

// All the colors are for the bars are already generated in base-colors
// The only one that is not, is when there is no class.
@each $ckey, $hex in $uw_colors_uw_golds_hex {
  header.default .uw-colors--#{$ckey}--background {
    background: $hex;
  }

  header.default .uw-colors--#{$ckey}--foreground {
    color: $hex;
  }
}

.uw-site--colours {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}

.uw-site--cbar {
  display: flex;
  flex-direction: row wrap;
  justify-content: flex-start;
  width: 100%;
}

@media screen and (min-width: 1rem) {
  .uw-cbar {
    height: 0.625rem;
  }
}

@media screen and (min-width: 40.0625rem) {
  .uw-cbar {
    height: 0.875rem;
  }
}

@media screen and (min-width: 48.0625rem) {
  .uw-cbar {
    height: 1rem;
  }
}

@media screen and (min-width: 63.1875rem) {
  .uw-cbar {
    height: 1.125rem;
  }
}

.uw-cbar {
  padding: 0;
  margin: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
