{%  set lvl = 0 %}
{%  set cbar_num = 0 %}
{% for group in items.groups %}
  <h1> {{ group.name }}</h1>
  {% if (group.sub_groups) %}
    {% for sub_group in group.sub_groups %}
      <h2>{{ sub_group.name }}</h2>
      <div id="color-bar{{ cbar_num }}" class="uw_site--colors">
        <div class="uw-cbar" style="background: black"></div>
        <div class="uw-section--innner">
          <div class="uw-site--cbar">
            {%  set lvl = 0 %}
            {% for hex in sub_group.colors %}
              {% set lvl = lvl + 1 %}
              <div class="uw-colors--lvl{{ lvl }} uw-cbar" style="background: {{ hex }}"></div>
            {% endfor %}
          </div>
        </div>
      </div>
    {%  endfor %}
  {% else %}
    <div id="color-bar{{ cbar_num }}" class="uw_site--colors">
      <div class="uw-cbar" style="background: black"></div>
      <div class="uw-section--innner">
        <div class="uw-site--cbar">
            {%  set lvl = 0 %}
            {% for hex in group.colors %}
                {% set lvl = lvl + 1 %}
              <div class="uw-colors--lvl{{ lvl }} uw-cbar" style="background: {{ hex }}"></div>
            {% endfor %}
        </div>
      </div>
    </div>

  {% endif %}
{%  endfor %}
