.marketing-block {
  &__wrapper {
    width: 100%;
    padding: 0;
  }

  &__title {
    width: 100%;
    text-align: center;
    background-color: #eee;

    h2 {
      margin-right: auto;
      margin-left: auto;
      padding: 2.3rem 0;
      text-align: center;
      max-width: 63.19rem;
      -webkit-margin-after: 0;
      -webkit-margin-before: 0;
    }
  }

  &__image {
    background-size: cover;
    position: relative;
    z-index: 3;
    padding: 6rem 0;

    @include medium {
      padding: 8rem 0;
    }

    @include large {
      padding: 10rem 0;
    }
  }

  &__content {
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: $uw-white;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
    font-family: "BureauGrotCond Book", impact, "avenir next condensed heavy", "Droid Sans", sans-serif;
    line-height: 1.25;
    font-weight: 400;
    letter-spacing: 0.045rem;
    font-size: 1.4rem;

    @include align-absolute(50%, 50%);

    @include large {
      max-width: 63.19rem;
      font-size: 2.56578rem;
    }
  }
}
