{% set marketing_base_class = marketing_base_class|default('marketing-block') %}
{%  set marketing_item_id = 'mi-1' %}

<div {{ bem(marketing_base_class) }}>
  {% if anchor_link %}
    {% include "@atoms/01-links/anchor-link/anchor-link.twig" with {
      "anchor_link": anchor_link
    } %}
  {% endif %}
  <div {{ bem('wrapper', '', marketing_base_class) }}>
    {% if display_title == "On" %}
      <div {{ bem('title', '', marketing_base_class) }}>
        {% include "@atoms/10-title/title.twig" with {
          "title_level": "2",
          "title_classes": "uw_h2",
          "title_content": title
        } %}
      </div>
    {% endif %}
    <div id="{{ marketing_item_id }}" {{ bem('image', '', marketing_base_class) }}>
      {% include '@atoms/_background-image-style.twig' with {
        'sources': sources,
        'div_id': marketing_item_id
      } %}
      {% if marketing_text %}
        <div {{ bem('content', '', marketing_base_class) }}>{{ marketing_text|raw }}</div>
      {% endif %}
    </div>
  </div>
</div>