.option {
  width: 100%;

  &__wrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &__image {
    width: 100%;
  }

  &__colouring {
    background-color: #00bed0;
  }
}
