{% set base_class2 = base_class2|default('option') %}

<div {{ bem(base_class2) }}>
  <a href="{{ link_url }}">
    <div id="{{ option_item_id }}" {{ bem('image', '', base_class2) }}>
      {% include '@atoms/_background-image-style.twig' with {
      'sources': sources,
      'div_id': option_item_id
      } %}
      <div {{ bem('link', '', base_class2) }}>
        <div {{ bem('link--title', '', base_class2) }}>
          {{ link_title }}
        </div>
        <div {{ bem('link--description', '', base_class2) }}>
          {{ link_description|raw }}
        </div>
      </div>
    </div>
  </a>
</div>
