.expandable {
  max-width: 63rem;
  margin-right: auto;
  margin-left: auto;

  h2 {
    width: 100%;
    background-color: #e5e5e5;
    padding: 0.5rem 0;

    button {
      border: none;
      background-color: #e5e5e5;
    }
  }

  .expandable-content {
    padding: 1rem;
  }
}
