<div class="expandable">
  <h2 class="last-visible">
    <button aria-expanded="false">
      {{ title }}
    </button>
  </h2>
  <div class="expandable-content">
    {{ text | raw }}
  </div>
</div>