.uw-global-menu.header-menu {
  margin-top: 1rem;
}

.uw-header {
  width: 100%;
  max-width: 100%;
  background-color: $uw_black;
  padding-top: 0.5rem;

  &__wrapper {
    position: relative;
    background-color: $uw-black;
    max-width: 63.125rem;
    margin-left: auto;
    margin-right: auto;
    font-family: "BureauGrotCond Book", impact, "avenir next condensed heavy", "Droid Sans", sans-serif;

    @supports not (display: grid) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__menu-links {
    padding: 0;
    margin: 0;
  }

  &__grid {
    @supports not (display: grid) {
      clear: both;
      max-width: 80%;
    }

    display: grid;
    grid-template-columns: 60% 20% 20%;
    grid-template-rows: auto;

    @include large {
      grid-template-columns: 17% auto 10%;
    }

    .header-1 {
      @supports not (display: grid) {
        float: left;
        width: 17%;
      }

      grid-column: 1 / 2;
      grid-row: 1 / 2;

      @include large {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
    }

    .header-2 {
      @supports not (display: grid) {
        float: left;
        width: 73%;
      }

      visibility: hidden;
      height: 0;
      width: 0;

      @include large {
        visibility: visible;
        width: 100%;
        height: 100%;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
    }

    .header-3 {
      @supports not (display: grid) {
        float: left;
        width: 10%;
      }

      grid-column: 2 / 3;
      grid-row: 1 / 2;

      @include large {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
      }
    }

    .header-4 {
      @supports not (display: grid) {
        float: left;
        width: 10%;
      }

      grid-column: 3 / 4;
      grid-row: 1 / 2;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      width: 100%;

      @include large {
        display: none;
      }
    }
  }

  &__content {
    box-sizing: inherit;

    ul {
      margin-left: 0;
    }
  }

  &__responsive-menu {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
  }

  &__search-button {
    text-transform: uppercase;
    border-left: 1px solid rgba(255, 255, 255, 0.2);

    @include large {
      border-left: none;
    }
  }

  &__logo {
    background-color: $uw-black;
    padding-left: 1rem;
  }
}
