{% set header_base_class = header_base_class|default("uw-header") %}

<header {{ bem(header_base_class, '', '', [attributes.class]) }}>
  <div {{ bem('wrapper', '', header_base_class) }}>
    <div {{ bem('grid', '', header_base_class) }}>
      <div {{ bem('logo', '', header_base_class, ['header-1']) }}>
        {% include "@molecules/uw-logo/uw-logo.twig" %}
      </div>
      <div {{ bem('menu-links', '', header_base_class, ['header-2']) }}>
        {% include "@molecules/menus/global-menu/global-menu.twig" with {
          "items": items,
          "menu_class": menu_class,
          "nav_class": nav_class,
          "global_menu": global_menu,
          "aria_label": aria_label
        } %}
      </div>
      <div {{ bem('search-button', '', header_base_class, ['header-3']) }}>
        {% include "@atoms/06-buttons/search-button/search-button.twig" %}
      </div>
      <div {{ bem('responsive-menu', '', header_base_class, ['header-4']) }}>
        {% include "@molecules/menus/responsive-menu-combined/responsive-menu-combined.twig" with {
          "responsive_menus": responsive_menus
        }%}
      </div>
    </div>
  </div>
  {% include "@base/global/_colors-bars.twig" %}
</header>
