ul.social-media-list {
  li {
    flex: 1;
  }

  list-style-type: none;
  display: flex;
  margin: 0 auto;
  align-items: start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 0.5rem;
}

.uw-footer-social-media {
  @include medium {
    text-align: right;
  }

  .global-footer-social-media {
    background-color: $uw-black;
  }

  .local-site-footer-social-media {
    background-color: $uw-local-site-footer-background-color;
  }
}
