<div class="uw-footer-social-media">
  <ul class="social-media-list {{ social_media_menu_class }}">
    {% for item in social_media.menu_tree %}
      {% include "@atoms/09-menu/social-media/social-media.twig" with {
        "text": item.text,
        "url": item.url,
        "social_media_placement": social_media_placement
      }%}
    {% endfor %}
  </ul>
</div>