i.fdsu-facebook::before {
  content: "\e909";
}

i.fdsu-twitter::before {
  content: "\e90f";
}

i.fdsu-youtube::before {
  content: "\e912";
}

i.fdsu-instagram::before {
  content: "\e90c";
}

i.fdsu-linkedin::before {
  content: "\e90d";
}

i.fdsu-snapchat::before {
  content: "\e917";
}

i.social-media-i {
  font-size: 2rem;
  padding: 0.2rem;
  border-radius: 3px;
  font-style: normal;
  background-color: $uw-white;

  &.global-site-footer:hover {
    background-color: $uw-black;
    color: $uw-gold;
  }

  &.local-site-footer:hover {
    background-color: $uw-local-site-footer-background-color;
    color: $uw-white;
  }
}

a.social-media-link {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &.global-site-footer {
    color: $uw-black;
  }

  &.local-site-footer {
    color: $uw-local-site-footer-background-color;
  }
}

li.social-media-list-item {
  list-style-type: none;
  margin: 0;
  padding-top: 0.4rem;
}
