<li class="social-media-list-item">
  <a href="{{ url }}" class="social-media-link {{ social_media_placement }}">
    <i class="ifdsu fdsu-{{ text|lower }} social-media-i {{ social_media_placement }}"></i>
    <span class="off-screen">{{ text  }}</span>
  </a>
</li>