{% set header_image_base_class = header_image_base_class|default("uw-sp-header-video") %}

<div {{ bem(header_image_base_class) }}>
  <div {{ bem('wrapper', '', header_image_base_class) }}>
    <div {{ bem('video', '', header_image_base_class) }}>
      <video playsinline="" autoplay="autoplay" muted="" loop="" aria-label="Video">
        <source src="{{ video_url }}" type="video/mp4">
      </video>
    </div>
    <div {{ bem('description', '', header_image_base_class) }}>
      <div {{ bem('description-content', '', header_image_base_class) }}>
        {{ description }}
      </div>
    </div>
    <div {{ bem('controls', '', header_image_base_class) }}>
      <div {{ bem('controls-wrapper', '', header_image_base_class) }}>
        <div {{ bem('controls-wrapper-content', '', header_image_base_class) }}>
          <button class="video-control" aria-label="Play"></button>
        </div>
      </div>
    </div>
  </div>
</div>