.uw-sp-header-video {
  width: 100%;
  max-width: 100%;

  &__wrapper {
    display: block;
    position: relative;
  }

  &__video {
    max-height: 610px;
    width: 100%;
    overflow: hidden;
    position: relative;

    video {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__description {
    display: block;
    background: #f1f1f1;
    width: 100%;

    &-content {
      padding: 1em 0;
      max-width: 63.125rem;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }

  &__controls {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;

    button {
      display: inline-block;
      height: 2em;
      width: 2em;
      padding: 0.5em;
      line-height: 1em;
      background: #f1f1f1;
      color: #4e4e4e;
      margin-left: 0.25em;

      &::before {
        content: "\e001";
        font-family: "iconic", sans-serif;
        font-style: normal;
        speak: none;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
      }

      &:hover {
        background: #4e4e4e;
        color: #f1f1f1;
      }
    }

    button.pause {
      &::before {
        content: "\e000";
        font-family: "iconic", sans-serif;
      }
    }

    &-wrapper {
      padding: 1em 0;
      max-width: 63.125rem;
      margin-left: auto;
      margin-right: auto;
      position: relative;

      &-content {
        float: left;
        padding-left: 20px;
        top: -60px;
        position: relative;
      }
    }
  }
}
